@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    src: url(Fonts/OpenSans-Regular.ttf) format('truetype'), url(Fonts/OpenSans-Bold.ttf) format('truetype');
    
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(to top, #1C2C21, #30492B, #445B31, #4F6827, #97B261);
    background-attachment: fixed;
}

select {
    margin-top: 10px;
    margin-block-end: 10px;
    border-radius: 3px;
    width: 450px;
}

section {
    display: inline-block;
    height: auto;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin-top: 10px;
    box-shadow: 4px 4px 15px #1c2c21;
}

input {
    font-weight: bold;
    background-color: #97b2614b;
    border-radius: 6px;
    width: 150px; 
    margin-top: 5px;
    margin-bottom: 5px;   
}

h1 {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: auto;
}

span {
    display: block;
}

.inputsQuebra {
    display: block;
}

.inputBotao {
    background-color: #769b3a;
    width: 80px;
    box-shadow: 1px 3px 4px #1c2c216b;
}

.sectionsEspeciais {
   padding-top: 41px;
}