@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    src: url(Fonts/OpenSans-Regular.ttf) format('truetype'), url(Fonts/OpenSans-Bold.ttf) format('truetype');
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(to top, #1C2C21, #30492B, #445B31, #4F6827, #97B261);
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.493);
}

main {
    min-height: 100vh;
}

select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 450px;
    padding: 10px;
    background-color: #97b2614b;
}

section {
    text-align: left;
    background: white;
    border-radius: 5px;
    padding: 15px;
    width: 450px;
    height: 450px;
    margin: 5px;
    box-shadow: 4px 4px 15px #1c2c21;
}

input {
    font-weight: bold;
    background-color: #97b2614b;
    border-radius: 4px;
    width: 150px; 
    margin-top: 5px;
    margin-bottom: 5px;   
}

h1 {
    text-align: center;
    width: auto;
}

h2 {
    font-weight: bold;
}

p {
    padding-top: 3px;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    background-color: white;
    border-top: 1px solid black;
    width: 100%;
    height: 60px;
}

.res3 {
    display: block;
}

.inputsQuebra {
    display: block;
}

.inputBotao {
    background-color: #769b3a;
    width: 80px;
    box-shadow: 1px 3px 4px #1c2c216b;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .precoVenda {
    
} */

.spacing {
    padding: 30px;
}